@model IEnumerable<CarWithPartsModel>
@{
    ViewData["Title"] = "AllWithParts Cars With Their Parts";
}
<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
            <th>Parts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@(car.TravelledDistance / 1000) km</td>
                <td>
                    <ul>
                        @foreach (var part in @car.Parts)
                        {
                            <li>@part.Name</li>
                            <li>$@part.Price</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
