@model IEnumerable<LogModel>
@{
    ViewData["Title"] = "All Logs";
}

<h2>@ViewData["Title"]</h2>
    <form method="get">
        <input type="text" name="search" placeholder="Search" />
        <input type="submit" value="search" class="btn btn-primary" />
        <input asp-action="delete" type="submit" value="Clear All Logs" class="btn pull-right btn-danger"/>
    </form>
<br/>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>User</th>
        <th>Operation</th>
        <th>Modified Table</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var log in Model)
    {
        <tr>
            <td>@log.User</td>
            <td>@log.Operation.ToString()</td>
            <td>@log.Table.ToString()</td>
            <td>@log.Timestamp.ToShortDateString() @log.Timestamp.ToLongTimeString()</td>
        </tr>
    }
    </tbody>
</table>

